*{margin: 0;padding: 0 ;font-family: 'Cinzel Decorative', cursive;}

header{ 
    width: 100%;
    height:90vh;
    background-image: linear-gradient( #ffffff , #ffd1dc );
}
.navsection{
    
    width:100%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient( #ffffff 20%, #ffd1dc 80%  );
    
}

.logo{
    width: 60%;
    color: #ffffff;
    background-image: linear-gradient(  #FFFACD ,#FFB6C1  );
    padding-left: 100px;
}

.logo h1{
    text-transform: :uppercase;
    font-size: 1.6rem;
    animation: frontback 1s linear infinite;
    animation-direction: alternate;
}

@keyframes frontback{
    from{padding-left: 40px;
    padding-right: 40px;
     }   
}

nav{
    width:30%;
    display: flex;
    justify content: space-around;
}

nav a{
    text-decoration: none;
    color: #000;
    font-weight: 900;
    font-size: 17px;
    position:relative;
}

nav a:before{
    content: "";
    position: absolute;
    top: 110%;
    left:0;
    width: 0%;
    height:2px;
    border-bottom: 2px solid #000;
    transition: all 0.4s linear;
}
nav a:hover:before{
    width: 100%  
}

main{
    height:70vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.rightside{
    border-radius: 50% 50% 50% 50%/50%
        50% 50% 50%;
    background-color: azure;
}

.rightside img{
    max-width: 400px;
    height: auto;
}

.leftside{
    text-transform: capitalize;
        color:#000;
}
.leftside h3{
    font-size: 40px;
    margin-bottom: 20px;
    position: relative;
    color: #000; 
}


.leftside h1{
    margin-top: 20px;
    font-size: 70px;
    margin-bottom: 25px;

}
.leftside h2{
    margin-bottom: 35px;
    font-weight: 500;
    word-spacing: 4px;
}

.second{
    
    width:100%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient( #ffffff 20%, #ffd1dc 80%  );
}

.third{
    font-family: 'Pacifico', cursive;
    width:100%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient( #ffffff 20%, #ffd1dc 80%  );
}

.fourth{
    font-family: 'Pacifico', cursive;
    width:100%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient( #ffffff 20%, #ffd1dc 80%  );
}

.information{
    word-spacing: 4px;
    margin: 30px;
    
}


